@import "settings";
@import "foundation";

$text: #555555;

.left {
	background-image: url("../img/IMG_0514.JPG");
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
}

.right {
	height: 100%;
	right: 0;
	margin-top: 20%;
}

.right--footer {
	background-color: #333;
	right: 0;
}

.writeup {
	padding-left: 1rem;
}

.icons {
	padding: 0 1rem;
}

h2, p {
	color: $text;
}

.fa {
	color: #555555;
}

@media #{$small-only} { 
	.fa, h2, p {
		color: #FFFFFF;
	}
	.fa {
		padding: 0 .5rem;
	}
}

@media #{$medium-only} { 
	.fa, h2, p {		
		color: #FFFFFF;
	}
}